body {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.dropBtn {
  cursor: pointer;
  padding: 14px;
  background-color: black;
  color: white;
  font-size: 14px;
  border: none;
  &.dropBtn:hover, .dropBtn:focus {
    background-color: grey;
  }
}

.dropMenu {
  position: relative;
  display: inline-block;
}

.myContent {
  display: none;
  position: absolute;
  background-color: silver;
  overflow: auto;
  & a {
    color: black;
    min-width: 112px;
    text-decoration: none;
    display: block;
    border: 1px solid black;
  }
  & a:hover {
    background-color: grey;
  }
}

.show {
  display: block;
}

#myLocation {
  background-color: black;
  color: white;
  padding: 14px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: grey;
  }
}

#yo {
  background-color: black;
  color: white;
  padding: 14px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: grey;
  }
}











