.buy {
    padding: 14px;
    background: #ffffff;
    border: none;

    &:hover {
        background: #f5f5f5;
    }
}

#shopBtn {
    padding: 2px;
    margin-top: 7px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    &:active {
        background-color: #0000ff;
        border-color: #ffffff;
    }
}

#cart-table {
    border-collapse: collapse;
    width: 100%;
    color: $mainFontColor;
    tbody{
        img {
            max-width: 100px;
        }
    }
    & td .removeItem {
        padding: 8px;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #808080;
        }
    }
    & td, th {
        text-align: left;
        padding: 8px;
        &:empty{
            visibility: hidden;
            border: none;
        }
    }
    .price-cell {
        text-align: right;
        &:after {
            content: ' €';
        }
    }
    .th-qty {
        text-align: center;
    }
}

.checkout {
    position: relative;
    cursor: pointer;
    border: none;
    padding: 8px;
    margin-top: 20px;
    a {
        text-decoration: none;
        color: black;
    }
    &:hover {
        background-color: #f5f5f5;
    }
}

.clearCart {
    position: relative;
    cursor: pointer;
    border: none;
    padding: 8px;
    margin-top: 20px;
    &:hover {
        background-color: #f5f5f5;
    }
}

.plus-minus-input {
    display: table;
    vertical-align: middle;
    height:100%;
    width:100%;
    position:relative;
    & .input-group-field {
        text-align: center;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        padding: 0.1rem;
        &::-webkit-inner-spin-button,
        ::-webkit-outer-spin-button {
            appearance: none;
        }
    }
    & .input-group-button {
        width : 90%;
        height: 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.checkOutBtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.input-group-button {
    .qty {
        width : 25px;
    }
}

.headTable {
    color: black;
}

.bodyTable {
    color: black;
}

.footTable {
    color: black;
}
