.navbar-dark{
  background-color: $mainBgColor;
  .nav-item {
    margin: auto;
    padding: 10px;
  }
}

nav {
  #navbarSupportedContent {
    #shopBtn {
      margin-bottom: 7px;
      margin-left: 10px;
      padding: 0;
    }
  }
}